<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Once and For All</h2>
                    <h3 class="section-subheading text-muted">For My Life</h3>
                    <h3 class="section-subheading text-muted">Just Challenge and Do It</h3>
                    <h3 class="section-subheading text-muted">No Regret</h3>
                    <h3 class="section-subheading text-muted">Dream of a Grand Ambition</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Passion</h4>
                    <p class="text-muted">Whatever I Do </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Be Cool</h4>
                    <p class="text-muted">Whoever Knows me </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Laid Back</h4>
                    <p class="text-muted">Whenever</p>
                </div>
            </div>
        </div>
    </section>
