    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/showcase.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          {% for post in site.posts limit: 1 %}
          <span class="badge lazy"><smaller >Vicsinth Blog</smaller></span><br><font color="black">What is this, anyway?</font><br><a href="{{ site.baseurl }}/about.html"><button type="button" class="btn btn-default showcase-button">Read More About Me</button></a>
          {% endfor %}
      </div>
    </div>
    <div class="container">
